$color-purple: #8b5cf6;
$color-pink: #ec4899;

.skills {
  position: relative;
  width: 80%;
  background: #fff;
  margin: 5% auto;
  div {
    width: 80%;
    margin: 0 auto;
  }
  &-icons {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 2em;
    color: #333;
    div {
      border: 3px solid #333;
      width: 80px;
      height: 80px;
      border-radius: 1rem;
      cursor: pointer;
      transition: all ease-in-out 0.5s;
      &:hover {
        transform: scale(1.3);
        background-image: linear-gradient(45deg, $color-purple, $color-pink);
        color: white;
        border: transparent;
      }
      p {
        padding-top: 7px;
        font-size: 0.8em;
      }
    }
    &__item {
      font-size: 3em;
      padding-top: 14px;
      &--redux {
        font-size: 3em;
        margin-top: 11px;
      }
    }
  }
  &-items {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.8rem;
    p {
      border: 2px #333 solid;
      border-radius: 0.3rem;
      padding: 3px 5px;
      transition: ease-in-out 0.5s;
      color: #333;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        background-image: linear-gradient(45deg, $color-purple, $color-pink);
        color: #fff;
        border: transparent;
      }
    }
  }
}
