@import "../../utils/variables.scss";

.about {
  padding: 50px 0;
  width: 100%;
  &-content {
    position: relative;
    &-div {
      justify-content: center;
      gap: 3rem;
      padding: 0px 0 60px;
      img {
        width: 30%;
        height: 30%;
        border-radius: 1rem;
      }
      p {
        width: 30%;
        text-align: justify;
        line-height: 2rem;
      }
    }
  }
}

.button-group {
  cursor: pointer;
  display: inline-flex;
  perspective: 200px;
  perspective-origin: calc(100% - 70px);
  position: absolute;
  right: 29%;
  bottom: 120px;
  &:hover .button-group--icon {
    transform: rotateY(0deg);
  }

  &--text {
    background: linear-gradient(45deg, $color-purple, $color-pink);
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    height: 70px;
    padding: 0 25px;
    line-height: 70px;
  }

  &--icon {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 60px;
    box-sizing: border-box;
    border: 4px solid $color-pink;
    border-left: none;
    transition: 600ms transform ease-in-out;
    transform: rotateY(90deg);
    transform-origin: left;
    color: $color-pink;
    background: #fff;
  }
}
