@import "../../utils/variables.scss";

.card {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: $color-gray;
  text-align: justify;
  transition: all 0.3s ease-out;
  @media (max-width: $mobile) {
    padding: 0.2rem 1rem;
  }
  p {
    margin: 0.7rem 0 0;
    @media (max-width: $mobile) {
      font-size: 10px;
    }
  }
  &-title {
    align-items: center;
    justify-content: space-between;
    h3 {
      text-transform: uppercase;
      @media (max-width: $mobile) {
        font-size: 10px;
      }
    }
    &--links {
      display: flex;
      gap: 15px;
      a {
        font-size: 20px;
        color: $color-gray;
        transition: all ease-in-out 0.5s;
        @media (max-width: $mobile) {
          font-size: 10px;
        }
        &:hover {
          color: $color-pink;
          transform: scale(1.3);
        }
      }
    }
  }
  &-image {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0;
    flex: 1;
    img {
      width: 100%;
      height: 230px;
      @media (max-width: $mobile) {
        height: 160px;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -1.25em;
      left: 1em;
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: #f44;
      box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
    }
  }
  &-technologies {
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    @media (max-width: $mobile) {
      font-size: 9px;
    }
    p {
      padding-bottom: 11px;
      @media (max-width: $mobile) {
        padding-bottom: 5px;
      }
    }
    span {
      padding-top: 2px;
      @media (max-width: $mobile) {
        padding-top: 7px;
      }
    }
  }
}
