$color-purple: #8b5cf6;
$color-pink: #ec4899;

.footer {
  background: linear-gradient(45deg, $color-purple, $color-pink);
  min-height: 100px;
  width: 100%;
  padding: 30px 0 15px;
  font-size: 14px;
  color: white;
  a {
    color: white;
    font-size: 25px;
    margin: 15px;
  }
}
