@import "../../utils/variables.scss";

.banner {
  position: relative;
  height: 65vh;
  text-align: center;
  color: #fff;

  // >512
  @media (min-width: $mobile-large) {
    height: 100vh;
  }
  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 200%;
    overflow: hidden;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;

    h1 {
      margin-top: 0;
      font-size: 1.5rem;

      // >768
      @media (min-width: $tablet) {
        font-size: 3rem;
      }
    }
  }
  &-nav {
    gap: 20px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
  }
  &-wrapper {
    background: #4e54c8;
    background: linear-gradient(45deg, $color-purple, $color-pink);
    width: 100%;
    height: 100%;
  }
  &-overlay {
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.flip {
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  & > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 50px;
    display: inline-block;
  }

  & div:first-child {
    animation: show 5s linear infinite;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
